*{
    box-sizing: border-box;
}

body{
    background: rgba(255, 123, 0, 0.678);
    font-family: 'Courier New', Courier, monospace;
}

h1{
    text-align: center;
}

#incluir{
    text-align: center;
    padding: 20px;
}

#incluir input{
    width: 200px;
}

