*{
    box-sizing: border-box;
    margin: 0px;
}

body{
    background: rgba(0, 119, 255, 0.753);
}

h1{
    text-align: center;
    background: white;
    color: rgb(0, 119, 255, 0.753);
    margin: 0px;
    font-size: 50px;
}

#incluir{
    text-align: center;
    padding: 20px;
    margin: 20px auto;
    background: white;
    height: 400px;
    width: 400px;
    border-radius: 10px;
    border: rgb(0, 81, 255) solid 3px;
    
}

#incluir input{
    width: 200px;
    margin: 10px;
    transition: background-color 1000ms;
}

input:hover{
    background: rgba(0, 132, 255, 0.63)
}



